* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.redesIndex {
  right: 0px;
  bottom: 50%;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, white, aqua);
  font-size: 25px;
}

.redesIndex img {
  width: 30px;
  display: block;
  margin: 5px;
  float: left;
}

.footerIndex {
  padding: 100px 0px 0px 0px;
  color: black;
}

.redes {
  right: 0px;
  bottom: 50%;
  align-items: flex-start;
  list-style-type: none;
  overflow: hidden;
  background: linear-gradient(to bottom, white, aqua);
  font-size: 25px;
}

.redes img {
  width: 30px;
  display: block;
  margin: 5px;
  float: left;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 5px;
}

.whatsapp img {
  width: 30px;
  height: auto;
  margin: 5px 5px;
}

header {
  background-color: white;
  text-align: center;
}

.menuPrincipal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, aqua, white);
  font-size: 25px;
}

.menuPrincipal li {
  display: inline-block;
  padding: 5px;
  margin: 30px 30px 30px 30px;
}

.menuPrincipal li a {
  color: black;
}

.menuPrincipal li a:hover {
  color: black;
  font-size: 26px;
  font-weight: bold;
}

h1 {
  text-align: center;
  color: black;
  margin: 25px;
}

main p {
  color: black;
  text-align: center;
  padding: 100px 0px 0px 0px;
}

a {
  text-decoration: none;
}

.listas {
  list-style-type: none;
  font-style: italic;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.6;
}

main img {
  margin: 25px;
  border-radius: 15px;
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
}

.messi {
  text-align: center;
}

.imagenLogo {
  width: 75vw;
  max-width: 600px;
  min-width: 320px;
}

.biografia {
  background-color: white;
}

.biografia p {
  color: black;
  font-size: 20px;
  margin: 25px 25px 25px 25px;
}

h2 {
  text-align: center;
  color: black;
  margin: 20px;
}

.video {
  width: 100%;
  text-align: center;
}

.galeriaEquipos {
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.galeriaEquipos img {
  margin: 25px;
  border-radius: 15px;
  width: 75vw;
  max-width: 500px;
  min-width: 320px;
}

.galeriaEstadisticas {
  background-color: white;
  padding: 20px;
  height: auto;
  width: 97%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 15px;
}

.galeriaEstadisticas img {
  margin: 25px;
  border-radius: 15px;
  width: 75vw;
  max-width: 500px;
  min-width: 320px;
}

.galeriatrofeos {
  background-color: white;
  padding: 20px;
  height: auto;
  width: 97%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-size: 15px;
}

.galeriatrofeos img {
  margin: 25px;
  border-radius: 15px;
  width: 75vw;
  max-width: 500px;
  min-width: 320px;
}

/*# sourceMappingURL=style.css.map */
